@media only screen and (max-width: 1350px) {
  .menu-address {
    left: 7%;
  }

  .menu {
    background: #7acec3;
  }

  .section-projects__all-projects {
    background: #ebb23f;
  }

  .section-projects__all-projects li {
    top: 130px;
    left: 20%;
  }

  .section-projects__all-projects h2 {
    font-size: 42px;
  }

  .section-projects__product-fondue-container {
    width: 55%;
  }

  .section-projects__product-fondue-img {
    width: 45%;
  }

  .section-projects__product-fondue-img img {
    left: -10%;
  }
}

@media only screen and (max-width: 1280px) {
  .section-projects__product-fiji-container h2 {
    left: 18%;
  }

  .section-projects__product-fiji-container li {
    left: -2%;
  }
}

@media only screen and (max-width: 1266px) {
  .menu-navigation {
    left: 38.5%;
  }
}

@media only screen and (max-width: 1200px) {
  .section-projects__product-fondue-container h2 {
    left: 50px;
  }

  .section-projects__product-fondue-container ul li {
    left: 10px;
  }

  .section-projects__product-fondue-container {
    width: 45%;
  }

  .section-projects__product-fondue-container p {
    left: 25%;
  }

  .section-projects__product-fondue-img {
    width: 55%;
  }

  .like-fondue {
    left: 22%;
  }

  .section-projects__product-potter img {
    left: 1%;
  }

  .section-projects__product-potter-container p:nth-child(4) {
    left: 22%;
  }

  .like-potter {
    top: -43px;
    left: 17%;
  }

  .section-projects__product-fiji-container h2 {
    left: 19%;
  }

  .section-projects__product-fiji-container li {
    font-size: 11px;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    left: 30%;
  }

  .like-fiji {
    left: 26%;
  }
}

@media only screen and (max-width: 1170px) {
  .section-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header {
    width: 100%;
    height: auto;
  }

  .menu {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 1.1;
  }

  .menu-navigation {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
  }

  .menu-navigation a {
    font-size: 22px;
    margin-right: 75px;
    top: 50px;
    left: 25%;
  }

  .menu-navigation a:last-child {
    display: none;
  }

  .menu-hamburger {
    display: none;
  }

  .menu-address {
    width: 15%;
    top: 23px;
    left: 30%;
    border: 2px solid #fff;
    -webkit-box-shadow: 1px 1px 20px 3px;
    box-shadow: 1px 1px 20px 3px;
    padding: 1%;
  }

  .menu-phoneAndEmail {
    width: 20%;
    top: -61px;
    left: 55%;
    border: 2px solid #fff;
    -webkit-box-shadow: 1px 1px 20px 3px;
    box-shadow: 1px 1px 20px 3px;
    padding: 1%;
  }

  .section-projects {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-projects__all-projects {
    width: 50%;
    height: auto;
  }

  .section-projects__product-fondue {
    width: 50%;
    height: auto;
  }

  .section-projects__all-projects li {
    top: 120px;
    left: 25%;
    margin-bottom: 2px;
    font-size: 20px;
  }

  .section-projects__all-projects h2 {
    font-size: 48px;
    top: 164px;
    left: 30%;
  }

  .section-projects__product-fondue-container p {
    left: 20%;
  }

  .like-fondue {
    left: 16%;
  }

  .wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .section-projects__product-potter {
    width: 50%;
    height: auto;
  }

  .section-projects__product-potter img {
    top: 15px;
    left: 20%;
  }

  .section-projects__product-fiji {
    width: 50%;
  }

  .section-projects__product-fiji-container h2 {
    left: -6%;
  }

  .section-projects__product-fiji-container li {
    left: -22%;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    left: -5%;
  }

  .like-fiji {
    left: -8%;
  }
}

@media only screen and (max-width: 1100px) {
  .section-projects__product-fiji-container h2 {
    left: -3%;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    left: -3%;
  }

  .like-fiji {
    left: -5%;
  }
}

@media only screen and (max-width: 1000px) {
  .menu-navigation a {
    left: 17%;
  }

  .menu-phoneAndEmail {
    width: 23%;
  }
}

@media only screen and (max-width: 900px) {
  .menu-phoneAndEmail {
    width: 26%;
  }

  .section-projects__product-potter img {
    left: 10%;
  }

  .section-projects__product-fiji-container h2 {
    left: -1%;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    left: 1%;
  }

  .like-fiji {
    left: -1%;
  }
}

@media only screen and (max-width: 800px) {
  .container-header-img img {
    top: 10px;
  }

  .menu-navigation a {
    left: 10%;
  }

  .section-projects__all-projects {
    width: 100%;
  }

  .section-projects__product-fondue {
    width: 100%;
  }

  .section-projects__all-projects li {
    top: 90px;
    left: 20%;
    font-size: 22px;
  }

  .section-projects__all-projects li a:hover::before {
    top: 0;
  }

  .section-projects__all-projects h2 {
    top: -70px;
    left: 60%;
  }

  .section-projects__product-fondue-container {
    width: 50%;
  }

  .section-projects__product-fondue-img {
    width: 50%;
  }

  .like-fondue {
    left: 28%;
  }

  .section-projects__product-fiji-container h2 {
    left: 15%;
  }

  .section-projects__product-fiji-container li {
    left: -5%;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    left: 17%;
  }

  .like-fiji {
    left: 13%;
  }
}

@media only screen and (max-width: 750px) {
  .container-header img {
    left: 20%;
  }

  h1 {
    left: 20.5%;
  }

  .socials {
    top: 60px;
  }

  .menu-navigation a {
    font-size: 18px;
  }

  .menu-address {
    width: 23%;
  }

  .menu-phoneAndEmail {
    top: -52px;
    width: 30%;
  }

  .section-projects__product-potter img {
    left: 3%;
  }
}

@media only screen and (max-width: 700px) {
  .socials {
    top: 30px;
  }

  .menu-navigation a {
    left: 20%;
    font-size: 18px;
    margin-right: 40px;
  }

  .section-projects__product-potter img {
    left: 0;
    padding-right: 10%;
  }

  .section-projects__product-fiji-container h2 {
    left: 25%;
  }

  .section-projects__product-fiji-container li {
    left: 5%;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    left: 26%;
    width: 100%;
  }

  .like-fiji {
    left: 25%;
  }
}

@media only screen and (max-width: 650px) {
  .socials {
    top: 20px;
    padding-bottom: 5px;
  }

  .menu-navigation a {
    left: 15%;
  }

  .menu-address {
    width: 25%;
  }

  .menu-phoneAndEmail {
    width: 33%;
  }

  .section-projects__all-projects li {
    top: 80px;
    left: 15%;
  }

  .section-projects__all-projects h2 {
    top: -60px;
    left: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .menu-navigation a {
    top: 55px;
  }

  .menu-address {
    width: 25%;
    left: 25%;
  }

  .menu-phoneAndEmail {
    width: 35%;
    left: 50%;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-projects__product-potter {
    width: 100%;
  }

  .section-projects__product-fiji {
    width: 100%;
  }

  .section-projects__product-potter img {
    left: 15%;
    padding-right: 5%;
  }

  .section-projects__product-fiji img {
    top: 3%;
  }

  .section-projects__product-fiji-container h2 {
    top: -15px;
    left: 5%;
  }

  .section-projects__product-fiji-container li {
    top: -20px;
    left: -10%;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    top: -25px;
    left: 5%;
  }

  .like-fiji {
    top: -30px;
    left: 3%;
  }
}

@media only screen and (max-width: 550px) {
  .container-header img {
    top: 20px;
  }

  h1 {
    top: 5px;
  }

  .menu-navigation a {
    left: 17%;
    margin-right: 25px;
    font-size: 16px;
  }

  .menu-phoneAndEmail {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .container-header img {
    left: 6%;
  }

  h1 {
    left: 5%;
  }

  .menu-address {
    left: 20%;
  }

  .menu-phoneAndEmail {
    left: 45%;
    top: -47px;
    width: 45%;
  }

  .section-projects__all-projects li {
    left: 5%;
  }

  .section-projects__all-projects h2 {
    left: 50%;
  }

  .section-projects__product-fiji-container li {
    left: -13%;
  }
}

@media only screen and (max-width: 450px) {
  .container-header-img img {
    left: 10%;
  }

  .menu-navigation a {
    left: 10%;
    font-size: 12px;
  }

  .section-projects__product-fiji-container li {
    left: -15%;
  }

  .like-fondue {
    top: 150px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container-header {
    width: 100%;
  }

  .container-header img {
    top: 10px;
    left: 30%;
  }

  h1 {
    left: 30%;
  }

  .socials {
    top: 10px;
    left: 25%;
  }

  .container-header-img img {
    left: 25%;
  }

  .menu-navigation a {
    left: 12%;
  }

  .menu-address {
    left: 13%;
  }

  .menu-phoneAndEmail {
    left: 38%;
    top: -45px;
    width: 50%;
  }

  .section-projects__all-projects li {
    top: 20px;
    left: 5%;
    font-size: 14px;
  }

  .section-projects__all-projects li a:hover::before {
    top: -6px;
    left: -25px;
  }

  .section-projects__all-projects h2 {
    left: 60%;
    font-size: 22px;
  }

  .section-projects__product-fondue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-projects__product-fondue-container {
    width: 100%;
    border-bottom: 2px solid gainsboro;
  }

  .section-projects__product-fondue-img {
    width: 100%;
  }

  .section-projects__product-fondue-container p {
    top: 40px;
    left: 13%;
  }

  .like-fondue {
    top: -5px;
    left: 40%;
    padding-bottom: 50px;
  }

  .section-projects__product-fondue-img img {
    left: 20%;
  }

  .section-projects__product-potter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-projects__product-potter-container {
    width: 100%;
    border-bottom: 2px solid #000;
  }

  .section-projects__product-potter-img {
    width: 100%;
  }

  .section-projects__product-potter h2 {
    left: 13%;
  }

  .section-projects__product-potter-container p:nth-child(2) {
    left: 13%;
  }

  .section-projects__product-potter-container p:nth-child(3) {
    width: 70%;
    left: 13%;
  }

  .section-projects__product-potter-container p:nth-child(4) {
    left: 13%;
  }

  .like-potter {
    top: -75px;
    left: 40%;
    margin-bottom: -35px;
  }

  .section-projects__product-potter img {
    top: 15px;
    left: 25%;
    padding-bottom: 50px;
  }

  .section-projects__product-fiji {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-projects__product-fiji-img {
    width: 100%;
  }

  .section-projects__product-fiji-container {
    width: 100%;
    border-top: 2px solid gainsboro;
  }

  .section-projects__product-fiji img {
    top: 5%;
    left: 30%;
    padding-bottom: 15px;
  }

  .section-projects__product-fiji-container h2 {
    top: 23px;
    left: 13%;
  }

  .section-projects__product-fiji-container li {
    top: 15px;
    left: 3%;
  }

  .section-projects__product-fiji-container p:nth-child(3) {
    top: 6px;
    left: 13%;
  }

  .like-fiji {
    top: -40px;
    left: 40%;
  }
}

@media only screen and (max-width: 360px) {
  .menu-navigation a {
    left: 8%;
  }

  .menu-address {
    left: 3%;
    width: 38%;
  }

  .menu-phoneAndEmail {
    left: 41%;
    width: 56%;
  }

  .like-fondue {
    top: -10px;
    left: 43%;
  }

  .like-potter {
    top: -80px;
    left: 44%;
  }

  .like-fiji {
    top: -43px;
    left: 43%;
  }
}

@media only screen and (max-width: 320px) {
  .container-header img {
    left: 26%;
  }

  h1 {
    left: 26%;
  }

  .socials {
    left: 20%;
  }

  .menu-navigation a {
    font-size: 10px;
    left: 7%;
  }

  .menu-address {
    left: 3%;
    width: 38%;
    font-size: 14px;
  }

  .menu-phoneAndEmail {
    left: 41%;
    font-size: 14px;
    top: -32px;
  }

  .section-projects__product-fondue-container p {
    left: 16%;
  }

  .like-fondue {
    left: 50%;
  }

  .section-projects__product-fondue-img img {
    left: 13%;
  }

  .like-potter {
    left: 46%;
  }

  .section-projects__product-potter img {
    left: 20%;
  }

  .section-projects__product-fiji img {
    left: 23%;
  }

  .section-projects__product-fiji-container li {
    left: 1%;
  }

  .like-fiji {
    left: 46%;
  }
}
