* {
    box-sizing: border-box;
}
main {
    max-width: 1500px;
    /* width: 78.125%; */
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.section-header {
    width: 100%;
    display: flex;
}

header {
    display: flex;
    width: 69%;
    height: 500px; 
    background-color: #E9EAE2;
 }

 .container-header {
     width: 35%;
 }

 .container-header-img {
     width: 65%;
 }

 .container-header img[src="images/logo.png"] {
    position: relative;
    top: 50px;
    left: 30px;
}

.container-header img[src="images/background.png"] {
    max-width: 100%;
    height: auto;
}

h1 {
    position: relative;
    top: 37px;
    left: 30px;
    font-size: 1.25em;
    font-weight: 500;
}

h1 span {
    display: block;
    margin-bottom: -7px;
}

.socials {
    width: 180px;
    position: relative;
    top: 79px;
    left: -10px;
}

.socials a {
    display: block;
}

.socials li {
    list-style: none;
    display: inline-block;
}

.facebook {
    width: 20px;
    height: 25px;
    background: url(../images/spritesheet.png) no-repeat 40% 20%;
}

.twitter {
    position: relative;
    top: 4px;
    left: 2px;
    width: 35px;
    height: 30px;
    background: url(../images/spritesheet.png) no-repeat 100% 20%;
}

.linkedin {
    position: relative;
    top: 3px;
    left: -4px;
    width: 30px;
    height: 30px;
    background: url(../images/spritesheet.png) no-repeat 73% 20%;
}

.googleplus {
    position: relative;
    top: 5px;
    left: -1px;
    width: 30px;
    height: 30px;
    background: url(../images/spritesheet.png) no-repeat 53% 20%;
}


.menu {
    width: 31%;
    height: 500px;
    background:  url(../images/line.png) 50% 50% no-repeat, #7ACEC3;
    color: #fff;
    font-size: 13px;
    line-height: 1.1;
}

.menu-hamburger {
    position: relative;
    top: 7%;
    left: 35%;
    width: 125px;
    height: 120px;
    border: 3px solid #DCF6E8;
}

.menu-navigation {
    display: none;
    position: absolute;
    width: 400px;
    height: 120px;
    background: rebeccapurple;
}

.menu-hamburger-linesContainer {
    position: absolute;
    top: 42%;
    left: 35%;
    width: 50px;
    height: 50px;
}

.hamburgerLine {
    width: 40px;
    height: 3px;
    background: #fff;
    margin-bottom: 4px;
}

.menu-address {
    position: relative;
    top: 130px;
    left: 60px;
}

.menu-phoneAndEmail {
    position: relative;
    top: 157px;
    left: 137px;
}

.section-projects {
    width: 100%;
    display: flex;
}

.section-projects__all-projects {
    background: url(../images/line.png) 50% 50% no-repeat, #EBB23F;
    width: 31%;
    height: 500px;
}

.section-projects__all-projects li {
    position: relative;
    top: 13.4em;
    left: 29.5%;
    list-style: none;
    margin-bottom: -5px;
    font-size: 13.1px;
}

.section-projects__all-projects li a {color: #fff;} 

.section-projects__all-projects li a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    position: relative;
} 

.section-projects__all-projects li a:hover::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: -6px;
    left: -25px;
    background: url(../images/spritesheet.png) 5% 5% no-repeat;
}

.section-projects__all-projects h2 {
    position: relative;
    color: #fff;
    font-size: 48px;
    top: 186px;
    left: 46%;
    font-weight: 400;
}

.section-projects__product-fondue {
    width: 38%;
    height: auto;
}

.section-projects__product-fondue-container {
    display: flex;
}

.section-projects__product-fondue-container img {
    max-width: 100%;
    height: auto;
}

.section-projects__product-fondue-container ul li {
    list-style: none;
}

.fondue-container-info {
    width: 50%;
}

.fondue-container-img {
    width: 50%;
}

.fondue-container-info h2 {
    position: relative;
    top: 60px;
    left: 100px;
    font-size: 24px;
    font-weight: lighter;
}

.fondue-container-info ul {
    position: relative;
    top: 47px;
    left: 60px;
    font-size: 12px;
}

.fondue-container-info ul li {
    margin-bottom: -5px;
}

.section-projects__product-potter {
    width: 100%;
    background: #E0E1DB;
}

.wrapper {
    width: 31%;
    display: flex;
    flex-direction: column;
}
